<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                {{#each categories}}
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="{{img}}">
                        <h5><a href="/category/{{id}}">{{name}}</a></h5>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>