{{!-- views/admin.hbs --}}

<main id="content" class="col-md-10">
    <div class="container mt-3">
        {{#if category}}
        {{> admin/category}}
        {{else if product}}
        {{> admin/product}}
        {{else if user}}
        {{> admin/user}}
        {{else if statistics}}
        {{> admin/statistics}}
        {{else}}
        {{> admin/main}}
        {{/if}}
    </div>
</main>