<section class="min-vh-100 d-flex align-items-center py-3" style="background-color: #7fad39;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5">

                        <h3 class="text-center fs-1 mb-5">Login</h3>

                        <form id="login-form" method="post" action="/auth/login">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="login-username">Username</label>
                                <input type="text" id="login-username" class="form-control form-control-lg" autocomplete="off" name="username" 
                                value="{{messages.username}}"/>
                            </div>
                            
                            <div class="form-outline mb-4">
                                <label class="form-label" for="login-password">Password</label>
                                <input type="password" name="password" id="login-password" class="form-control form-control-lg" autocomplete="off" />
                            </div>
                            
                            {{!-- <div class="form-check mb-4">
                                <input class="form-check-input" type="checkbox" name="remember" />
                                <label class="form-check-label" for="remember"> Remember password </label>
                            </div> --}}

                            {{> error}}
                            
                            <div class="text-center mb-4">
                                <button class="btn btn-secondary btn-md btn-block w-100 py-2 fs-5" type="submit">Login</button>
                            </div>
                        </form>

                        <div class="text-center">
                            <p class="text-center">Don't have an account? <a href="/auth/register"
                                    class="text-black-50 fw-bold">Register here</a></p>
                        </div>

                        <hr class="my-4">

                        <div class="d-flex justify-content-center align-items-center flex-column gap-2">

                            <button class="btn btn-danger btn-md btn-block btn-primary w-100" id="googleSignInButton">
                                <i class="fab fa-google me-2"></i> Sign in with Google
                            </button>

                            <button class="btn btn-primary btn-md btn-block btn-primary mb-2 w-100" id="facebookSignInButton">
                                <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
                            </button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>